
<br>

<center>
  <h1 id="top"><%=@test.name%></h1>
  <h2>By: <%=User.find_by_id(session[:user_id]).username%></h2>

  <!--Edit Form-->
  <form action="/tests/<%=@test.id%>" method="POST">
    <input id="hidden" type="hidden" value="PATCH" name="_method">
    <label>Name: <input type="text" value="<%= @test.name %>" name="name"></label><br>
    <label>Description: <input type="text" value="<%= @test.description %>" name="description"></label><br>
    <br>
    <input type="hidden" value="<%=@test.id%>" name ="questions[]test_id">
    <% @questions.each_with_index do |q, index|%>
      <h3>Question <%=index+1%>:</h3>
      <h3><input type="text" value="<%= q.question %>" name="questions[]question<%=index%>[]question"></h3><br>
      <label>A. </label><input id="<%=q.id%>_a" type="text" value="<%= q.choice1 %>" name="questions[]question<%=index%>[]choice1">
      <label>B. </label><input id="<%=q.id%>_b" type="text" value="<%= q.choice2 %>" name="questions[]question<%=index%>[]choice2">
      <label>C. </label><input id="<%=q.id%>_c" type="text" value="<%= q.choice3 %>" name="questions[]question<%=index%>[]choice3">
      <label>D. </label><input id="<%=q.id%>_d" type="text" value="<%= q.choice4 %>" name="questions[]question<%=index%>[]choice4">
      <label>Answer: </label><input type="text" value="<%= q.answer %>" name="questions[]question<%=index%>[]answer"><br>
      <input type="hidden" value="<%=q.id%>" name ="questions[]question<%=index%>[]q_id">
    <% end %>
    <input type="submit" value="submit">
  </form>

  <!--Delete Form-->
  <form action="/tests/<%=@test.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Test">
  </form>
</center>
