<center>
  <h1><%= @test.name %></h1>
  <h2>By: <%= @user.username %></h2>


  <br>
  <% if session[:user_id] == @user.id %>
    <a href="/tests/<%=@test.id%>/edit">Edit</a><br>
  <%end%>

  <% questions = [] %>
  <% Question.all.each do |q|%>
    <% if q.test_id == @test.id %>
      <% questions << q%>
    <% end %>
  <% end %>

  <br>

  <form action="/tests/<%=@test.id%>/test" method="POST">
    <input type="submit" value="Take Test">
  </form><br>
  Questions: <%=questions.count%><br>
  <p>Test Description: <%= @test.description %></p>
</center>
